@{
    ViewData["Title"] = "Linux Docker Azure .NET core";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This app is running from a Linux container.</p>
    <p>Get the source code from <a href="https://github.com/RezaHoque/core-mvc-docker"> <i class="fab fa-github"></i> Github </a></p>
    <p>Get the image from <a href="https://hub.docker.com/r/rezadoc/coremvcdocker"> <i class="fab fa-docker"></i> Docker </a></p>
</div>
